---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

<div class="archive">

  <h1 id="page-title" class="page__title"></h1>



  <div class="wrapper">
    Hi! I am a 4th year Ph.D. student in the <a href="https://cs.kaist.ac.kr/" class="link">School of Computing</a> at
    <a href="https://www.kaist.ac.kr/" class="link">KAIST</a>. I am working with <a href="https://juhokim.com/"
      class="link">Juho Kim</a> as part of <a href="https://www.kixlab.org" class="link">KIXLAB</a>. <br>
    My research interests in Human-Computer Interaction lie in video understanding and interaction. In particular, I
    leverage HCI and AI techniques to comprehend video content and build interactive technologies that empower
    users to <strong>create and consume video content</strong> more effectively.
    <br>
    <br>
    <span style="font-weight: 600;">Keywords: </span>Human-AI Interaction; Video Interaction;
    Multimodal Understanding; Generative AIs
    <!-- <br/> -->
    <!-- <b> I am a research intern at Autodesk this summer, working in the Toronto office! </b> -->
  </div>

  <h2 class="archive__subtitle">News</h2>
  <ul class="list-item wrapper">

    <li>👩‍💼 (May. 2024) Started a summer internship at Adobe Seattle!</li>

    <li>🛫 (May. 2024) Attending CHI 2024 in Hawaii!🇺🇸</li>

    <li>📝 (Apr. 2024) Papers accepted to CVPR 24 LPVL workshop!</li>

    <li>👩‍💼 (Mar. 2024) Serving as a program committee member for CVPR 24 workshop on procedural videos (LPVL).</li>

    <li>🛫 (Mar. 2024) Attending IUI 2024 in Greenville!🇺🇸</li>

    <li>🛫 (Feb. 2024) Attending AAAI 2024 in Vancouver!🇨🇦</li>

    <li>📝 (Jan. 2024) My Autodesk internship paper has been accepted to CHI 2024!</li>

    <li>📝 (Dec. 2023) Our paper on AI-assited video editing has been accepted to IUI 2024!</li>

    <li>📝 (Dec. 2023) My LG AI internship paper on Video QA has been accepted to AAAI 2024!</li>

  </ul>

  <h2 class="archive__subtitle">Publications</h2>

  <h3 class="archive__subtitle">Conference and Journal Papers</h3>
  <div class="wrapper">

    <div class="paper-wrapper">
      <img src="./../assets/img/AQuA.png">
      <div class="paper-content">
        <span class="paper-title">AQuA: Automated Question-Answering in Software Tutorial Videos with Visual
          Anchors</span>

        <div class="paper-author">

          <p><strong>Saelyne Yang</strong>, Jo Vermeulen, George Fitzmaurice, Justin Matejka</p>


        </div>
        <div>
          <i class="venue">CHI 2024</i>
        </div>
        <div class="paper-meta">

          [<a href="https://arxiv.org/abs/2403.05213" class="material" target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/ExpressEdit.png">
      <div class="paper-content">
        <span class="paper-title">ExpressEdit: Video Editing with Natural Language and Sketching</span>

        <div class="paper-author">

          <p>Bekzat Tilekbay, <strong>Saelyne Yang</strong>, Michal A Lewkowicz, Alex Suryapranata, Juho Kim</p>


        </div>
        <div>
          <i class="venue">IUI 2024</i>
        </div>
        <div class="paper-meta">

          [<a href="https://arxiv.org/abs/2403.17693" class="material" target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

          [<a href="https://expressedit.kixlab.org/" class="material" target="_blank">project website</a>]

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/YTCommentQA.png">
      <div class="paper-content">
        <span class="paper-title">YTCommentQA: Video Question Answerability in Instructional Videos</span>

        <div class="paper-author">

          <p><strong>Saelyne Yang</strong>, Sunghyun Park, Yunseok Jang, Moontae Lee</p>


        </div>
        <div>
          <i class="venue">AAAI 2024</i>
        </div>
        <div class="paper-meta">

          [<a href="https://arxiv.org/abs/2401.17343" class="material" target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

          [<a href="https://drive.google.com/file/d/1bRLYm61tjrwTVorpL_sMNaAuRfGJZQBE/view" class="material"
            target="_blank">poster</a>]

          [<a href="https://github.com/lgresearch/YTCommentQA" class="material" target="_blank">dataset</a>]

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/pixel.png">
      <div class="paper-content">
        <span class="paper-title">Towards Content-based Pixel Retrieval in Revisited Oxford and Paris</span>

        <div class="paper-author">

          <p>Guoyuan An, Woo Jae Kim, <strong>Saelyne Yang</strong>, Rong Li, Yuchi Huo, Sungeui Yoon</p>


        </div>
        <div>
          <i class="venue">ICCV 2023</i>
        </div>
        <div class="paper-meta">

          [<a
            href="https://sgvr.kaist.ac.kr/~guoyuan/Segment_retrieval/Towards%20Content-based%20Pixel%20Retrieval%20in%20Revisited%20Oxford%20and%20Paris.pdf"
            class="material" target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

          [<a href="https://github.com/anguoyuan/pixel_retrieval-segmented_instance_retrieval" class="material"
            target="_blank">dataset</a>]

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/videomap.png">
      <div class="paper-content">
        <span class="paper-title">Beyond Instructions: A Taxonomy of Information Types in How-to Videos</span>

        <div class="paper-author">

          <p><strong>Saelyne Yang</strong>, Sangkyung Kwak﹡, Juhoon Lee﹡, Juho Kim</p>


        </div>
        <div>
          <i class="venue">CHI 2023</i>
        </div>
        <div class="paper-meta">

          [<a href="https://kixlab.github.io/website-files/2023/chi2023-videomap-paper.pdf" class="material"
            target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

          [<a href="https://videomap.kixlab.org/" class="material" target="_blank">project website</a>]

          [<a href="https://youtu.be/3SN4OQuOQ-s" class="material" target="_blank">talk</a>]

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/avscript.png">
      <div class="paper-content">
        <span class="paper-title">AVscript: Accessible Video Editing with Audio-Visual Scripts</span>

        <div class="paper-author">

          <p>Mina Huh, <strong>Saelyne Yang</strong>, Yi-Hao Peng, Xiang ‘Anthony’ Chen, Young-Ho Kim, Amy Pavel</p>


        </div>
        <div>
          <i class="venue">CHI 2023</i>
        </div>
        <div class="paper-meta">

          [<a href="https://minahuh.com/assets/pdf/AVscript-tagged.pdf" class="material" target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/catchlive.png">
      <div class="paper-content">
        <span class="paper-title">CatchLive: Real-time Summarization of Live Streams with Stream Content and Interaction
          Data</span>

        <div class="paper-author">

          <p><strong>Saelyne Yang</strong>, Jisu Yim, Juho Kim, Hijung Valentina Shin</p>


        </div>
        <div>
          <i class="venue">CHI 2022</i>
        </div>
        <div class="paper-meta">

          [<a href="https://kixlab.github.io/website-files/2022/chi2022-CatchLive-paper.pdf" class="material"
            target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

          [<a href="https://catchlive.kixlab.org/" class="material" target="_blank">project website</a>]

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/softvideo.png">
      <div class="paper-content">
        <span class="paper-title">SoftVideo: Improving the Learning Experience of Software Tutorial Videos with
          Collective Interaction Data</span>

        <div class="paper-author">

          <p><strong>Saelyne Yang</strong>, Jisu Yim, Aitolkyn Baigutanova, Seoyoung Kim, Minsuk Chang, Juho Kim</p>


        </div>
        <div>
          <i class="venue">IUI 2022</i>
        </div>
        <div class="paper-meta">

          [<a href="https://kixlab.github.io/website-files/2022/iui2022-SoftVideo-paper.pdf" class="material"
            target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

          [<a href="https://softvideo.kixlab.org/" class="material" target="_blank">project website</a>]

          [<a href="https://softvideo.kixlab.org/" class="material" target="_blank">dataset</a>]

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/snapstream.png">
      <div class="paper-content">
        <span class="paper-title">Snapstream: Snapshot-based Interaction in Live Streaming for Visual Art</span>

        <div class="paper-author">

          <p><strong>Saelyne Yang</strong>, Changyoon Lee, Hijung Valentina Shin, Juho Kim</p>


        </div>
        <div>
          <i class="venue">CHI 2020</i>
        </div>
        <div class="paper-meta">

          [<a href="https://www.kixlab.org/files/2020/chi2020-Snapstream-paper.pdf" class="material"
            target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

          [<a href="https://snapstream.kixlab.org/" class="material" target="_blank">project website</a>]

          [<a href="https://youtu.be/x62vzVBD4N4" class="material" target="_blank">video preview</a>]

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/software.png">
      <div class="paper-content">
        <span class="paper-title">What Makes It Hard for Users to Follow Software Tutorial Videos?</span>

        <div class="paper-author">

          <p><strong>Saelyne Yang</strong>, Juho Kim</p>


        </div>
        <div>
          <i class="venue">HCI Korea 2020</i>
        </div>
        <div class="paper-meta">

          [<a href="https://www.kixlab.org/files/2020/hcik2020-SoftwareTutorial-paper.pdf" class="material"
            target="_blank">pdf</a>]

          <!-- 
    <span class="award"></span>
     -->

        </div>
      </div>
    </div>

  </div>
  <h3 class="archive__subtitle">Posters, Demos, and Workshop Papers</h3>
  <div class="wrapper">

    <div class="paper-wrapper">
      <img src="./../assets/img/fine-grained.png">
      <div class="paper-content">
        <span class="paper-title">Fine-Grained Action Understanding with Tools in Instructional Videos</span>

        <div class="paper-author">

          <p><strong>Saelyne Yang</strong>, Jaesang Yu, Jae Won Cho, Juho Kim</p>


        </div>
        <div>
          <i class="venue">CVPR 2024 Workshop</i> <span> on <a
              href="https://sites.google.com/view/lpvl-cvpr2024">Learning from Procedural Videos and Language</a></span>
        </div>
        <div class="paper-meta">

          [<a href="https://kixlab.github.io/website-files/2024/cvpr2024-finegrained-workshop.pdf " class="material"
            target="_blank">pdf</a>]

          <!-- 
      <span class="award"></span>
       -->

        </div>
      </div>
    </div>

    <div class="paper-wrapper">
      <img src="./../assets/img/video-unit.png">
      <div class="paper-content">
        <span class="paper-title">Improving Video Interfaces by Presenting Informational Units of Videos</span>

        <div class="paper-author">

          <p><strong>Saelyne Yang</strong>, Sankyung Kwak, Tae Soo Kim, Juho Kim</p>


        </div>
        <div>
          <i class="venue">CHI 2022 Workshop</i> <span> on <a
              href="https://sites.google.com/nd.edu/computational-uichi22">Computational Approaches for Understanding,
              Generating, and Adapting User Interfaces</a></span>
        </div>
        <div class="paper-meta">

          [<a href="https://kixlab.github.io/website-files/2022/chi2022-workshop-StarLab-paper.pdf" class="material"
            target="_blank">pdf</a>]

          <!-- 
      <span class="award"></span>
       -->

        </div>
      </div>
    </div>

  </div>

  <h2 class="archive__subtitle">Experiences</h2>
  <ul class="list-item wrapper">

    <li>
      <a href="https://research.adobe.com/" style="font-weight: bold;">Adobe Research</a>
      <br>
      Reserach Intern, STORIE Lab (May. 2024 - Present)
      <br>

      Mentors: Dingzeyu Li, Anh Truong

    </li>

    <li>
      <a href="https://www.research.autodesk.com/" style="font-weight: bold;">Autodesk Research</a>
      <br>
      Reserach Intern, HCI &amp; Visualization Group (Jun. 2023 - Sep. 2023)
      <br>

      Mentors: Jo Vermeulen, Justin Matejka, George Fitzmaurice

    </li>

    <li>
      <a href="https://www.lgresearch.ai/" style="font-weight: bold;">LG AI Research</a>
      <br>
      Reserach Intern, Advanced ML Lab (Oct. 2022 - Feb. 2023)
      <br>

      Mentors: Moontae Lee

    </li>

    <li>
      <a href="https://research.adobe.com/" style="font-weight: bold;">Adobe Research</a>
      <br>
      Reserach Intern, Creative Technologies Lab (Jun. 2020 - Sep. 2020)
      <br>

      Mentors: Hijung Valentina Shin

    </li>

    <li>
      <a href="https://www.acryl.ai/" style="font-weight: bold;">ACRYL</a>
      <br>
      Software Engineer Intern (Jan. 2018 - Feb. 2018)
      <br>

    </li>

  </ul>
  <h2 class="archive__subtitle">Awards &amp; Honors</h2>
  <ul class="list-item wrapper">


    <li>AAAI Student Scholar (2024)</li>



    <li>Google Student Travel Grant (2023)</li>



    <li>NAVER PhD Fellowship (2022)</li>



    <li>Special Recognition for Outstanding Reviews (CSCW 2023)</li>



    <li>Special Recognition for Outstanding Reviews (CHI 2022)</li>



    <li>Inseong Fellow, KAIST (2021)</li>



    <li>An Outstanding TA Award, KAIST (2021 Spring, 2022 Spring)</li>



    <li>An Outstanding MS Thesis Award, KAIST (2021)</li>



    <li><a href="http://en.ikef.or.kr/">Kwanjeong Scholarship</a> (2019-20)</li>



    <li><a href="https://www.womentechmakers.com/">Google WTM Scholarsip</a> (2018)</li>



    <li>Dean's List, School of Computing, KAIST (2018 Spring)</li>


  </ul>

  <h2 class="archive__subtitle">Education</h2>
  <ul class="list-item wrapper">

    <li>
      <div style="font-weight: bold;">
        Ph.D. in School of Computing, KAIST
        <span style="font-weight: normal;">(Mar. 2021 - Present)</span>
      </div>
      GPA: 4.16/4.3, Advisor: Prof. Juho Kim
      <br>
    </li>

    <li>
      <div style="font-weight: bold;">
        M.S. in School of Computing, KAIST
        <span style="font-weight: normal;">(Mar. 2019 - Feb. 2021)</span>
      </div>
      An Outstanding MS Thesis Award, Advisor: Prof. Juho Kim
      <br>
    </li>

    <li>
      <div style="font-weight: bold;">
        B.S. in School of Computing, KAIST
        <span style="font-weight: normal;">(Mar. 2015 - Feb. 2019)</span>
      </div>
      Magna Cum Laude
      <br>
    </li>

  </ul>






</div>

{% if paginator %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
  {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}