<!-- ---
layout: archive
--- -->

<div class="wrapper">
  Hi there! I am a 1st year Master student in the <a href="https://ee.kaist.ac.kr/en/" class="link">School of Electrical
    Engineering</a> at <a href="https://www.kaist.ac.kr/en/" class="link">Korea Advanced Institute of Science &
    Technology (KAIST)</a>. I am working with <a href="http://sanctusfactory.com/family.php" class="link">Chang D.
    Yoo</a> as part of <a href="http://sanctusfactory.com/u-aim/" class="link">U-AIM Lab</a>. My research interest is in
  Large Language Model and I'm still learning more about it.
  <!-- In particular, I leverage HCI and AI techniques to comprehend video content and build interactive technologies that empower users to <strong>create and consume video content</strong> more effectively. -->
  <br>
  <br>
  <span style="font-weight: 600;">Keywords:</span> Natural Language Processing; Large Language Model;
  Multimodality; Generative AI
</div>

<h2 class="archive__subtitle">News</h2>
<ul class="list-item wrapper">
  <li>👩‍💼 (Jun 2024) Graduated from Harbin Institute of Technology! See you in KAIST, Dajeon, Korea!</li>
  <li>📝 (Jun 2024) Awarded Outstanding BS Thesis, ranking 3/480. </li>
  <li>📝 (May 2024) Finished my intership in Yitong Co., Ltd.</li>
  <li>📝 (Oct 2023) Finished my intership in Chinese Academy of Science.</li>
  <li>🛫 (Aug 2023) Attending 2023 KAIST EE Camp. See you in Dajeon, Korea!</li>
</ul>

<!-- <h2 class="archive__subtitle">Publications</h2>
<h3 class="archive__subtitle">Conference and Journal Papers</h3>
<div class="wrapper">
  <div class="paper-wrapper">
    <img src="./../assets/img/snapstream.png">
    <div class="paper-content">
      <span class="paper-title">titlexxxxxxxxxx</span>
      <div class="paper-author">
        <p><strong>xxx</strong>, xxx</p>
      </div>
      <div>
        <i class="venue">CHI 2020</i>
      </div>
      <div class="paper-meta">
        [<a href="https://www.kixlab.org/files/2020/chi2020-Snapstream-paper.pdf" class="material"
          target="_blank">pdf</a>]
        [<a href="https://snapstream.kixlab.org/" class="material" target="_blank">project website</a>]
        [<a href="https://youtu.be/x62vzVBD4N4" class="material" target="_blank">video preview</a>]
      </div>
    </div>
  </div>
</div>
<h3 class="archive__subtitle">Posters, Demos, and Workshop Papers</h3>
<div class="wrapper">
  <div class="paper-wrapper">
    <img src="./../assets/img/video-unit.png">
    <div class="paper-content">
      <span class="paper-title">Improving Video Interfaces by Presenting Informational Units of Videos</span>
      <div class="paper-author">
        <p><strong>Saelyne Yang</strong>, Sankyung Kwak, Tae Soo Kim, Juho Kim</p>
      </div>
      <div>
        <i class="venue">CHI 2022 Workshop</i> <span> on <a
            href="https://sites.google.com/nd.edu/computational-uichi22">Computational Approaches for Understanding,
            Generating, and Adapting User Interfaces</a></span>
      </div>
      <div class="paper-meta">
        [<a href="https://kixlab.github.io/website-files/2022/chi2022-workshop-StarLab-paper.pdf" class="material"
          target="_blank">pdf</a>]
      </div>
    </div>
  </div>
</div> -->

<h2 class="archive__subtitle">Experiences</h2>
<ul class="list-item wrapper">
  <li>
    <a href="https://research.adobe.com/" style="font-weight: bold;">Harbin Institute of Technology (link fatal)</a>
    <br>
    Reserach Intern, Intelligent Interface and Human-Computer Interaction Lab (IIHCI) (May. 2024 - Present)
    <br>
    Advisor: Shaohui Liu
  </li>
  <li>
    <a href="" style="font-weight: bold;">Yitong Co., Ltd.</a>
    <br>
    R&amp;D Intern, Frontend &amp; DDS Group (Jan 2024 - May 2024)
    <br>
    Advisor: Guoxin Wu
  </li>
  <li>
    <a href="https://www.lgresearch.ai/" style="font-weight: bold;">Chinese Academy of Sciences (link fatal)</a>
    <br>
    Reserach Intern, xxxxxxxxxxxxxxxxxxxxxxxxxxx Lab (May 2023 - Oct 2023)
    <br>
    Advisors: Peidong Liang, Xian Wei
  </li>
</ul>

<h2 class="archive__subtitle">Awards &amp; Honors</h2>
<ul class="list-item wrapper">
  <li>Outstanding BS Thesis Award (3/480, 0.6%)</li>
  <li>2023 KAIST EE Camp, Travel Grant (77/6286, 1.2%)</li>
  <li>People’s Scholarship of China (10%)</li>
</ul>

<h2 class="archive__subtitle">Education</h2>
<ul class="list-item wrapper">
  <li>
    <div style="font-weight: bold;">
      M.S. in School of Electrical Engineering, Korea Advanced Institute of Science and Technology (KAIST)
      <span style="font-weight: normal;"></span>
    </div>
    Advisor: Prof. Chang D. Yoo (Sep 2024 - Present)
    <br>
  </li>
  <li>
    <div style="font-weight: bold;">
      B.S. in School of Computing, Harbin Institute of Technology (HIT)
      <span style="font-weight: normal;"></span>
    </div>
    GPA: 88.4/100<br>
    Advisor: Shaohui Liu (Sep 2020 - Jun 2024)<br>
    Outstanding BS Thesis (0.6%)
    <br>
  </li>
</ul>

<h2 class="archive__subtitle">Misc.</h2>
<ul class="list-item wrapper">
  <li>
    <div>
      <b>Chinese</b>: native; <b>English</b>: C1 (IELTS 7.0); <b>Korean</b>: intermediate (TOPIK II preparing)
      <span style="font-weight: normal;"></span>
    </div>
  </li>
</ul>

</div>

<!-- {% if paginator %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
  {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->